@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');


.change_color{
	width: 100px;
	height: 100px;
}

#room_name {
	color:white;
	text-align: center;
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
}

#return_button {
	font-size: 16px;
	color: white;
	padding-left: 2%;
}

#data_container{
	color:white !important;
}

#data{
	color: black !important;
	background-color: white !important;
	font-family: "Montserrat",sans-serif;
	box-shadow: 1px -2px 17px -1px #000000 !important;
}

#data p {
	text-align: center;
	align-items: center;
}

#data-row{
	padding-left: 2%;
}