@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');

li, a, button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
    background-color: white;
    padding: 10px;
    border-radius:25px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color:#24252A;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

body{
    background-color: #24252A !important;
}

#select-room {
    background-color: #f8f9fa;
}