g {
    fill: rgb(183, 232, 247);
    stroke: rgb(0, 26, 255);
    fill-opacity: 1;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 1;
    transition: fill 1.2s, stroke 1s;
}

g.changeColor:hover {
    stroke: rgb(56, 0, 102);
    fill: rgb(247, 156, 239);
}

#main {
    display: flex;
    justify-content: left;
    width: 80%;
}

section {
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap-reverse;
}